@model ForumWZ.Models.Forum.ForumIndexModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">Przeszukaj forum</div>
        <div class="sectionDescription">
            <p>Witaj na <strong>ForumWZ</strong>. Posty są kategoryzowane w oddzielne fora Posts are broadly categorized into separate forums by programming language or area of interest.</p>
            <p>
                Przeczytaj regulamin forum przed dodaniem postu.
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <span>Musisz być <a asp-controller="Account" asp-action="Register">zarejestrowanym członkiem</a> by stworzyć post.</span>
                }
            </p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        <table class="table table-hover" id="forumIndexTable">
            <tbody>
                @foreach (var forum in Model.ForumList)
                {
                    <tr>
                    <td>
                        <div class="forumLogo" style="background-image: url(@forum.ImageUrl);"></div>
                    </td>
                        <td>
                            <div class="forumData">
                                <div class="forumTitle">
                                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">@forum.Name</a>
                                </div>
                                <div class="forumSubTitle">
                                    @if (forum.HasRecentPosts)
                                    {
                                        <div class="hasRecentPost">Hot</div>
                                    }
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="forumPostCount">
                                @forum.NumberOfPosts Posty
                            </div>
                            <div class="forumMemberCount">
                                @forum.NumberOfUsers Użytkownicy
                            </div>
                        </td>
                        <td>
                            <div class="forumDescription">
                                @forum.Description
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>