@model ForumWZ.Models.Forum.ForumTopicModel

<div class="container body-content">
    <div class="row sectionHeader">
        <span>@Model.Forum.Name forum</span>
        <div class="sectionHeading">
            @if (Context.User.Identity.IsAuthenticated)
            {
                <span id="headingBtn">
                    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id" class="btn btn-newPost">
                        Stwórz nowy post
                    </a>
                </span>
            }
            <form asp-controller="Forum" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" type="text" placeholder="Szukaj..." class="searchBar" onfocus="clearThis(this)" />
                    <button type="submit" class="btn btn-forumSearch">
                        <i class="material-icons">
                            Szukaj
                        </i>
                    </button>
                </div>
                <input asp-for="Forum.Id" name="id" type="hidden" />
            </form>
        </div>
        <div class="sectionDescription">
            <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl); background-size:100%"></div>
                <p>Witaj na <strong>@Model.Forum.Name</strong> forum. Proszę zostań w temacie postu, bądź przyjazny.</p>
                @if(!Context.User.Identity.IsAuthenticated)
                {
                    <p>
                        <span>
                            Musisz być
                            <a asp-controller="Account" asp-action="Register">
                                zarejestrowanym członkiem
                            </a> 
                            by dodawać posty.
                        </span>
                    </p>
                }
            
        </div>
    </div>
    <div class="row forumIndexContent">
        @if(Model.Posts.Any())
        {
            <table class="table table-hover table-bordered" id="forumIndexTable" >
                <tbody>
                    @foreach(var post in Model.Posts)
                    {
                        <tr>
                            <td>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                            @post.Title
                                        </a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                            <span class="postAuthor">
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                    @post.AuthorName
                                                </a>
                                            </span>
                                            (@post.AuthorRating) on
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                    Odpowiedzi: @post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="postDate">
                                    @post.DatePosted
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">
                    question_answer
                </i> 
                <h3>
                    Nie znaleziono takich postów.
                    Czemu sam nie dodasz
                    <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id">
                        <span>Post</span>
                    </a>
                    czegoś?
                </h3>
            </div>
        }
    </div>
</div>




@section Scripts{
    <script>
        clearThis(target)
        {
            target.value = "";
        }
    </script>
}